<!DOCTYPE html>
<html>

<head>
  <title>Create new player</title>
  <link rel='stylesheet' href='/stylesheets/login.css' type="text/css" />

</head>

<body>
  <div id="login-form-wrap">
    <h2>Login</h2>
    <form id="login-form" action="/users/login" method="post">
      
      <p>
        <input type="text" name="username" id="username" placeholder="Enter Username">
      </p>
      <p>
        <input type="password" name="password" id="email" placeholder="Enter Password">
      </p>
      <input type="submit" value="Login" id = "login">
      <h4>
        <%= errorea %>
      </h4>
    </form>
    <form action="/register" method="post">
      <input type="submit" value="Register">
    </form>
  </div>
</body>

</html>