<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/panela.css' />
    <title>User Panel</title>
</head>
<body>
    <div class="buttons-panel">
        <div id="buttons-menu">
            <p>
                <a href='/frontEnd/'><button class="button"> JOLASTU!!! </button></a>
            </p>
            <p>
                <a href='/logout'><button class="button"> Irten</button></a>
            </p>
        </div>
    </div>
</body>
</html>